.favoritebutton {
  background-image: url("/static/icons/favorite-icon.png");
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  float: right;
}

.favoritedarkbutton {
  background-image: url("/static/icons/favorite-icon-dark.png");
  background-color: transparent;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  float: right;
}
